# Desafío Wrangling

Grupo 8: Melina Schamberger, Noelia Aparicio y Natasha Siderman

In [ ]:
#Importamos librerías
import pandas as pd
import numpy as np

In [ ]:
#Leemos los datos
p = pd.read_csv("p_data.csv",  sep = ';')
w = pd.read_csv("w_data.csv", sep = ';')

In [ ]:
p.head(6)
p.info

<bound method DataFrame.info of         Age      Sex          ID                 Race         Country  \
0      39.0     Male       49084                White   United-States
1      50.0     Male       68553                White   United-States
2      38.0     Male      143654                White   United-States
3      53.0     Male       41510                Black   United-States
4      28.0   Female      195025                Black            Cuba
...     ...      ...         ...                  ...             ...
48837  33.0     Male   597186815                White   United-States
48838  39.0   Female   735617153                White   United-States
48839  64.0     Male  1131807446                Black   United-States
48840  38.0     Male   781422087                White   United-States
48841  44.0     Male   161771296   Asian-Pac-Islander   United-States

        Education  Education-Num       Marital Status     Relationship
0       Bachelors           13.0        Never-married    Not-in-family
1       Bachelors           13.0   Married-civ-spouse          Husband
2         HS-grad            9.0             Divorced    Not-in-family
3            11th            7.0   Married-civ-spouse          Husband
4       Bachelors           13.0   Married-civ-spouse             Wife
...           ...            ...                  ...              ...
48837   Bachelors           13.0        Never-married        Own-child
48838   Bachelors           13.0             Divorced    Not-in-family
48839     HS-grad            9.0              Widowed   Other-relative
48840   Bachelors           13.0   Married-civ-spouse          Husband
48841   Bachelors           13.0             Divorced        Own-child

[48842 rows x 9 columns]>

In [ ]:
w.head(6)
w.info

<bound method DataFrame.info of                Workclass    fnlwgt  Capital Gain  Capital Loss  \
0              State-gov   77516.0        2174.0           0.0
1       Self-emp-not-inc   83311.0           0.0           0.0
2                Private  215646.0           0.0           0.0
3                Private  234721.0           0.0           0.0
4                Private  338409.0           0.0           0.0
...                  ...       ...           ...           ...
48838            Private  215419.0           0.0           0.0
48839                  ?  321403.0           0.0           0.0
48840            Private  374983.0           0.0           0.0
48841            Private   83891.0        5455.0           0.0
48842       Self-emp-inc  182148.0           0.0           0.0

       Hours per week          ID   Target
0                40.0       49084    <=50K
1                13.0       68553    <=50K
2                40.0      143654    <=50K
3                40.0       41510    <=50K
4                40.0      195025    <=50K
...               ...         ...      ...
48838            36.0   735617153   <=50K.
48839            40.0  1131807446   <=50K.
48840            50.0   781422087   <=50K.
48841            40.0   161771296   <=50K.
48842            60.0  1344995623    >50K.

[48843 rows x 7 columns]>

In [ ]:
# Consigna 1: 
df = pd.merge(p,w, how = 'right', on = ['ID'])
df.head(6)

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,Target
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family,State-gov,77516.0,2174.0,0.0,40.0,<=50K
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband,Self-emp-not-inc,83311.0,0.0,0.0,13.0,<=50K
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family,Private,215646.0,0.0,0.0,40.0,<=50K
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband,Private,234721.0,0.0,0.0,40.0,<=50K
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife,Private,338409.0,0.0,0.0,40.0,<=50K
5,37.0,Female,231557,White,United-States,Masters,14.0,Married-civ-spouse,Wife,Private,284582.0,0.0,0.0,40.0,<=50K

In [ ]:
#veo si en el left join quedó algun id sin joinear
df.isnull().sum()

Age               2
Sex               2
ID                0
Race              2
Country           2
Education         2
Education-Num     2
Marital Status    2
Relationship      2
Workclass         1
fnlwgt            1
Capital Gain      1
Capital Loss      1
Hours per week    1
Target            1
dtype: int64

In [ ]:
df.info
#pareciera que w tiene un caso más que p

<bound method DataFrame.info of         Age      Sex          ID                 Race         Country  \
0      39.0     Male       49084                White   United-States
1      50.0     Male       68553                White   United-States
2      38.0     Male      143654                White   United-States
3      53.0     Male       41510                Black   United-States
4      28.0   Female      195025                Black            Cuba
...     ...      ...         ...                  ...             ...
48838  39.0   Female   735617153                White   United-States
48839  64.0     Male  1131807446                Black   United-States
48840  38.0     Male   781422087                White   United-States
48841  44.0     Male   161771296   Asian-Pac-Islander   United-States
48842   NaN      NaN  1344995623                  NaN             NaN

        Education  Education-Num       Marital Status     Relationship  \
0       Bachelors           13.0        Never-married    Not-in-family
1       Bachelors           13.0   Married-civ-spouse          Husband
2         HS-grad            9.0             Divorced    Not-in-family
3            11th            7.0   Married-civ-spouse          Husband
4       Bachelors           13.0   Married-civ-spouse             Wife
...           ...            ...                  ...              ...
48838   Bachelors           13.0             Divorced    Not-in-family
48839     HS-grad            9.0              Widowed   Other-relative
48840   Bachelors           13.0   Married-civ-spouse          Husband
48841   Bachelors           13.0             Divorced        Own-child
48842         NaN            NaN                  NaN              NaN

               Workclass    fnlwgt  Capital Gain  Capital Loss  \
0              State-gov   77516.0        2174.0           0.0
1       Self-emp-not-inc   83311.0           0.0           0.0
2                Private  215646.0           0.0           0.0
3                Private  234721.0           0.0           0.0
4                Private  338409.0           0.0           0.0
...                  ...       ...           ...           ...
48838            Private  215419.0           0.0           0.0
48839                  ?  321403.0           0.0           0.0
48840            Private  374983.0           0.0           0.0
48841            Private   83891.0        5455.0           0.0
48842       Self-emp-inc  182148.0           0.0           0.0

       Hours per week   Target
0                40.0    <=50K
1                13.0    <=50K
2                40.0    <=50K
3                40.0    <=50K
4                40.0    <=50K
...               ...      ...
48838            36.0   <=50K.
48839            40.0   <=50K.
48840            50.0   <=50K.
48841            40.0   <=50K.
48842            60.0    >50K.

[48843 rows x 15 columns]>

In [ ]:
#consigna 2

#veo valores unicos
print(df['Target'].unique())

[' <=50K' ' >50K' nan ' <=50K.' ' >50K.']

In [ ]:
#modifico valores
df['Target'] = df['Target'].map({' <=50K':'<=50K',
                             ' >50K':'>50K',
                             ' <=50K.':'<=50K',
                             ' >50K.':'>50K'})

In [ ]:
#veo valores unicos
print(df['Target'].unique())

['<=50K' '>50K' nan]

In [ ]:
#consigna 3

#Calcular la proporción que hay entre personas con salarios >50k respecto del total para 
#personas de distinto sexo, Raza y Educacion. Por ejemplo cuál es el porcentaje de mujeres 
#con un salario mayor a 50K y compararlo con el de los hombres. Lo mismo para personas de distintas razas y Educación

total = df['Target'].values.tolist()
porcentaje = round(total.count('>50K')/len(total)*100,2)
print('La proporción de personas que ganan más de 50K sobre el total es del', porcentaje, '%')

La proporción de personas que ganan más de 50K sobre el total es del 23.93 %

In [ ]:
sex = df.groupby(['Sex','Target'])['Target'].count()

print(sex)

Sex      Target
 Female  <=50K     14423
         >50K       1769
 Male    <=50K     22732
         >50K       9917
Name: Target, dtype: int64

In [ ]:
#Proporción de mujeres/varones que ganan más de 50k
mujeres = round(1769/(1769+14423)*100,2)
varones = round(9917/(9917+22732)*100,2)
print('La proporción de mujeres que ganan más de 50K sobre el total de mujeres es del', mujeres, '%')
print('La proporción de varones que ganan más de 50K sobre el total de varones es del', varones, '%')

La proporción de mujeres que ganan más de 50K sobre el total de mujeres es del 10.93 %
La proporción de varones que ganan más de 50K sobre el total de varones es del 30.37 %

In [ ]:
#Proporción de blancos/varones que ganan más de 50k

race = df.groupby(['Race','Target'])['Target'].count()

print(race)

Race                 Target
 Amer-Indian-Eskimo  <=50K       415
                     >50K         55
 Asian-Pac-Islander  <=50K      1110
                     >50K        409
 Black               <=50K      4119
                     >50K        566
 Other               <=50K       356
                     >50K         50
 White               <=50K     31155
                     >50K      10606
Name: Target, dtype: int64

In [ ]:
#Proporción que ganan más de 50k por Race
black = round(566/(566+4119)*100,2)
white = round(10606/(10606+31155)*100,2)
print('La proporción de negros que ganan más de 50K sobre el total de mujeres es del', black, '%')
print('La proporción de blancos que ganan más de 50K sobre el total de varones es del', white, '%')

La proporción de negros que ganan más de 50K sobre el total de mujeres es del 12.08 %
La proporción de blancos que ganan más de 50K sobre el total de varones es del 25.4 %

In [ ]:
#Proporción que gana más de 50k por education
education = df.groupby(['Education','Target'])['Target'].count()
print(education)

Education      Target
 10th          <=50K      1302
               >50K         87
 11th          <=50K      1720
               >50K         92
 12th          <=50K       609
               >50K         48
 1st-4th       <=50K       239
               >50K          8
 5th-6th       <=50K       482
               >50K         27
 7th-8th       <=50K       893
               >50K         62
 9th           <=50K       715
               >50K         41
 Assoc-acdm    <=50K      1188
               >50K        413
 Assoc-voc     <=50K      1539
               >50K        522
 Bachelors     <=50K      4712
               >50K       3312
 Doctorate     <=50K       163
               >50K        431
 HS-grad       <=50K     13281
               >50K       2503
 Masters       <=50K      1198
               >50K       1459
 Preschool     <=50K        82
               >50K          1
 Prof-school   <=50K       217
               >50K        617
 Some-college  <=50K      8815
               >50K       2063
Name: Target, dtype: int64

In [ ]:
#Proporción que gana más de 50k por education
bachelors = round(3312/(3312+4712)*100,2)
doctorate = round(431/(431+163)*100,2)
print('La proporción de licenciados que ganan más de 50K sobre el total de licenciados es del', bachelors, '%')
print('La proporción de doctorados que ganan más de 50K sobre el total de doctorados es del', doctorate, '%')

La proporción de licenciados que ganan más de 50K sobre el total de licenciados es del 41.28 %
La proporción de doctorados que ganan más de 50K sobre el total de doctorados es del 72.56 %