# Algoritmo de clasificasión

Grupo 8

Noelia Aparicio - Melina Schamberger - Natasha Siderman

Consigna: Sobre el dataset del proyecto final, realizar la creación e implementación de al menos uno de los algoritmos de clasificación vistos en la sesión de hoy (KNN, Random Forest, Regresión Logística).

In [ ]:
#Cargamos las librerías

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
#Cargamos el dataset

df = pd.read_csv('drug200.csv')

In [ ]:
#Visualizamos las primeas filas

df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [ ]:
#Repasamos la estructura

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [ ]:
#Repasamos la estructura

df.shape

(200, 6)

Insights:

El dataset se compone de 6 columnas de las cuales 5 corresponden a variables independientes, que usaremos para predecir la droga.

Drug es la variable a predecir. 
Hay variables numéricas ('Age' y 'Na_to_K') y categóricas ('Sex', 'BP', 'Cholesterol' y 'Drug'). 

No hay valores nulos.

In [ ]:
#Recodificamos variables

In [ ]:
#Transformamos nuestras variables categóricas a dummies 1 y 0.

df2 = pd.get_dummies(data=df, columns=["Sex", "Cholesterol", "BP"])
df2

,Age,Na_to_K,Drug,Sex_F,Sex_M,Cholesterol_HIGH,Cholesterol_NORMAL,BP_HIGH,BP_LOW,BP_NORMAL
0,23,25.355,DrugY,1,0,1,0,1,0,0
1,47,13.093,drugC,0,1,1,0,0,1,0
2,47,10.114,drugC,0,1,1,0,0,1,0
3,28,7.798,drugX,1,0,1,0,0,0,1
4,61,18.043,DrugY,1,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
195,56,11.567,drugC,1,0,1,0,0,1,0
196,16,12.006,drugC,0,1,1,0,0,1,0
197,52,9.894,drugX,0,1,1,0,0,0,1
198,23,14.020,drugX,0,1,0,1,0,0,1
199,40,11.349,drugX,1,0,0,1,0,1,0

In [ ]:
#Agregamos datos del paciente X

pacientex = {'Age': [52],
             'Na_to_K': [14.001],
             'Sex_F': [0],
             'Sex_M': [1],
             'Cholesterol_HIGH': [1],
             'Cholesterol_NORMAL': [0],
             'BP_HIGH': [1],
             'BP_LOW': [0],
             'BP_NORMAL': [0]}

In [ ]:
#Agregamos datos del paciente X

pacientex = pd.DataFrame(pacientex)

In [ ]:
#Entrenamos al algoritmo

from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=6)
X = df2[['Age', 'Na_to_K', 'Sex_F', 'Sex_M', 'Cholesterol_HIGH', 'Cholesterol_NORMAL', 'BP_HIGH', 'BP_LOW', 'BP_NORMAL']]
y = df2[['Drug']]

knn.fit(X, y)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=6)

In [ ]:
#Predecimos droga del paciente x

prediccion = knn.predict(pacientex)
print(prediccion)

['drugX']