In [ ]:
#Se importan la librerias a utilizar
from sklearn import datasets
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
import seaborn as sns

In [ ]:
#Cargamos el dataset

drugs_df = pd.read_csv('drug200.csv')

In [ ]:
#Vemos el dataframe
drugs_df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [ ]:
#Shape
print(drugs_df.shape)

(200, 6)

In [ ]:
#Revisamos si tenemos missings
drugs_df.count()

Age            200
Sex            200
BP             200
Cholesterol    200
Na_to_K        200
Drug           200
dtype: int64

In [ ]:
#Revisamos el tipo de datos
drugs_df.dtypes

Age              int64
Sex             object
BP              object
Cholesterol     object
Na_to_K        float64
Drug            object
dtype: object

In [ ]:
#Empezamos a preparar nuestros datos
drugs_df_dummy = pd.get_dummies(drugs_df, drop_first=True)

In [ ]:
#Analizamos el resultado
drugs_df_dummy

,Age,Na_to_K,Sex_M,BP_LOW,BP_NORMAL,Cholesterol_NORMAL,Drug_drugA,Drug_drugB,Drug_drugC,Drug_drugX
0,23,25.355,0,0,0,0,0,0,0,0
1,47,13.093,1,1,0,0,0,0,1,0
2,47,10.114,1,1,0,0,0,0,1,0
3,28,7.798,0,0,1,0,0,0,0,1
4,61,18.043,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
195,56,11.567,0,1,0,0,0,0,1,0
196,16,12.006,1,1,0,0,0,0,1,0
197,52,9.894,1,0,1,0,0,0,0,1
198,23,14.020,1,0,1,1,0,0,0,1
199,40,11.349,0,1,0,1,0,0,0,1

In [ ]:
#Separamos los datos de entrada de la salida
X = drugs_df_dummy.drop('Drug_drugX', axis=1) #Eliminamos de nuestro dataset la variable a predecir
y = drugs_df_dummy.Drug_drugX #Definimos el Target

In [ ]:
from sklearn.model_selection import train_test_split #Importamos la libreria para separar en train y test

#Nos quedamos con 30% para test y 50% para train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [ ]:
print(len(X_train))
print(len(X_test))
print(len(y_train))
print(len(y_test))

140
60
140
60

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 140 entries, 169 to 102
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 140 non-null    int64
 1   Na_to_K             140 non-null    float64
 2   Sex_M               140 non-null    uint8
 3   BP_LOW              140 non-null    uint8
 4   BP_NORMAL           140 non-null    uint8
 5   Cholesterol_NORMAL  140 non-null    uint8
 6   Drug_drugA          140 non-null    uint8
 7   Drug_drugB          140 non-null    uint8
 8   Drug_drugC          140 non-null    uint8
dtypes: float64(1), int64(1), uint8(7)
memory usage: 4.2 KB

In [ ]:
#Primero importamos y luego creamos el modelo
from sklearn.tree import DecisionTreeClassifier 
tree = DecisionTreeClassifier(max_depth=2, random_state = 42)

In [ ]:
#Entrenamos el modelo
tree.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=2, random_state=42)

In [ ]:
y_train_pred = tree.predict(X_train) #Prediccion en Train
y_test_pred = tree.predict(X_test) #Prediccion en Test

In [ ]:
len(y_test)

60

In [ ]:
len(y_test_pred)

60

In [ ]:
X_test.head(3)

,Age,Na_to_K,Sex_M,BP_LOW,BP_NORMAL,Cholesterol_NORMAL,Drug_drugA,Drug_drugB,Drug_drugC
95,36,11.424,1,1,0,1,0,0,0
15,16,15.516,0,0,0,1,0,0,0
30,18,8.750,0,0,1,1,0,0,0

In [ ]:
#Calculamos primero el accuracy en Train, y luego calculamos en accuracy en Test
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)

print('% de aciertos sobre el set de entrenamiento:', train_accuracy)
print('% de aciertos sobre el set de evaluaciÃ³n:',test_accuracy)

% de aciertos sobre el set de entrenamiento: 0.9214285714285714
% de aciertos sobre el set de evaluaciÃ³n: 0.8833333333333333