# **Desafío**: Adquisición de JSON desde la WEB
> Melina Schamberger

>> Consigna: 

1. Escribir un código que lea un JSON desde esta esta web api
2. Pasarlo a un DataFrame

1. Importación de librerías

In [1]:
import pandas as pd
import json as js
import requests as rq

2. Definición a URL y conexión

In [13]:
url = 'https://jsonplaceholder.typicode.com/users'
respuesta = rq.get(url)
print(respuesta)

<Response [200]>

Dado que la respuesta es 200, es posible afirmar que la conexión fue exitosa.

3. Obtengo la información de la URL en formato string.

In [14]:
texto = respuesta.text
js.loads(texto)
jsondata = js.loads(texto)

4. Convierto los datos en un dataframe

In [15]:
data = pd.DataFrame.from_dict(jsondata)
data.head()

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."